body,
html {
  font-family: "Helvetica Neue";
  background-color: #ececec;
  margin: 0;
  color: #333;
}
* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
a {
  text-decoration: none;
  color: #3580f0;
}
a:hover {
  color: #0a3a82;
}
ul {
  list-style-type: none;
  padding-left: 10px;
}
h1 {
  margin: 0 auto;
  width: 550px;
}
.instructions {
  display: none;
}
.container {
  width: 90%;
  margin: 0 auto;
  padding: 20px;
}
.tagline {
  width: 400px;
  margin: 10px auto;
}
.shortcut {
  font-size: 0.9em;
  color: rgba(255, 255, 255, 0.7);
}
.game-board {
  position: relative;
  background-color: #c4c4c4;
  width: 550px;
  height: 550px;
  margin: 0 auto;
  border: 1px dotted;
  border-top: none;
  border-color: #9f9f9f;
}
#control-panel {
  width: 550px;
  height: 120px;
  margin: 0 auto;
  margin-top: 20px;
  padding: 10px;
  border: 1px dotted;
  border-bottom: none;
  border-color: #9f9f9f;
}
.controls {
  float: left;
}
.top-scores {
  float: right;
  text-shadow: 1px 1px 1px #cecece;
}
.top-scores #score1 {
  color: #ff4d4d;
}
.top-scores #score2 {
  color: #3580f0;
}
.top-scores #score3 {
  color: #00a656;
}
.rotateme {
  color: #171717;
  z-index: 10;
  position: absolute;
  border: 1px solid rgba(133, 124, 127, 0.6);
  box-shadow: 0px 0px 10px 0px #8B8B8B;
  padding: 10px;
}
.rotateme:after {
  content: "↑ This way up";
  position: relative;
}
.zone {
  z-index: 1;
  position: absolute;
  border: 3px dashed;
  box-sizing: border-box;
}
#score {
  width: 40px;
  border: 1px dotted;
  padding: 0 10px;
  font-size: 20px;
}
button {
  background-color: #3580f0;
  font-size: 15px;
  color: white;
  padding: 10px 20px;
  cursor: pointer;
  outline: none;
  border: none;
}
button:hover {
  background-color: #0a3a82;
}
.video {
  width: 420px;
  margin: 40px auto;
  text-align: center;
}
.video .arrow1 {
  color: #ff4d4d;
}
.video .arrow2 {
  color: #ff3333;
}
.video .arrow3 {
  color: #ff1a1a;
}
.video .arrow4 {
  color: #ff0000;
}
.video .arrow5 {
  color: #e60000;
}
.video .arrow6 {
  color: #cd0000;
}
.video .arrow7 {
  color: #b30000;
}
.video .arrow8 {
  color: #9a0000;
}
.video .arrow9 {
  color: #800000;
}
.video .arrow10 {
  color: #670000;
}
.footer {
  text-align: center;
  margin: 40px auto;
  color: #7f767a;
  font-size: 12px;
}
.footer a {
  color: rgba(53, 128, 240, 0.8);
}
