body,
html {
  font-family: "Helvetica Neue";
}
* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
ul {
  list-style-type: none;
  padding-left: 10px;
}
h1 {
  margin: 0 auto;
  width: 550px;
}
.container {
  position: relative;
  background-color: #e0e0e0;
  width: 550px;
  height: 550px;
  margin: 0 auto;
}
#control-panel {
  width: 550px;
  margin: 0 auto;
  margin-top: 20px;
}
.rotateme {
  z-index: 10;
  position: absolute;
}
.rotateme:after {
  content: "^ This way up";
  position: relative;
}
.zone {
  z-index: 1;
  position: absolute;
  border: 3px dashed;
  box-sizing: border-box;
}
#score {
  width: 40px;
  border: 1px dotted;
  padding: 0 10px;
  font-size: 20px;
}
button {
  background-color: #4a7fff;
  font-size: 15px;
  color: white;
  padding: 10px 20px;
  cursor: pointer;
  outline: none;
  border: none;
}
button:hover {
  background-color: #175bff;
}
button:active,
button:focus {
  box-shadow: 1px 1px 2px #aa0013 inset;
}
button.reset {
  background-color: #00257d;
}
button.reset:hover {
  background-color: #00164a;
}
