.container {
  position: relative;
  background-color: #e0e0e0;
  width: 550px;
  height: 550px;
  margin: 0 auto;
}
.rotateme {
  z-index: 10;
  position: absolute;
}
.rotateme:after {
  content: "^ This way up";
  position: relative;
}
.zone {
  z-index: 1;
  position: absolute;
  border: 3px dashed;
  box-sizing: border-box;
}
#control-panel {
  margin-top: 20px;
  border: 1px dotted;
}
#score {
  width: 40px;
  border: 1px dotted;
}
button {
  background-color: #ff112b;
  color: white;
  padding: 10px 20px;
  cursor: pointer;
  outline: none;
  border: none;
}
button:active,
button:focus {
  box-shadow: 1px 1px 2px #aa0013 inset;
}
